.popup__btn-close {
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    outline: none;
}

.popup__btn-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__btn-close {
        width: 26px;
        height: 26px;
        right: 5px;
    }
}