@import url(./__logo/header__logo.css);

.header {
    max-width: 882px;
    margin: auto;
    padding: 45px 0 40px;
    border-bottom: 1px solid rgba(54,54,54,0.7);
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 0 31px 27px;
    }
}
